<!-- Phone Step -->
<div class="cover">
    <header>
        <h1>Sam's Interactive Resume</h1>
    </header>

    <step>
        <h2 ng-if="phone">3. Phone Instructions</h2>
        <p ng-if="phone">Tilt to the direction labeled on edges of your phone to move the ball on the screen accordingly.<br>Roll over to the red circles to boost the ball up to different sections.</p>

        <h2 ng-if="keyboard">2. Keyboard Instructions</h2>
        <p ng-if="keyboard">Use the arrow keys to move up, down, right, and left.<br>Roll over to the red circles to boost the ball up to different sections.</p>

        <a class="step-button" ng-click="goBack()">
            <three-center>
                <i class="icon icon-undo"></i>
                <span class="label-icon">Back</span>
            </three-center>
        </a>

        <a class="step-button" ng-click="start(type)">
            <three-center>
                <i class="icon icon-grin"></i>
                <span class="label-icon">Start</span>
            </three-center>
        </a>
    </step>
</div>

<!-- loading -->
<loading ng-if="percentage < 100">
    Loading... {{percentage}}%
</loading>
