<!-- Room input -->
<step ng-if="!connected && !loading">
    <three-center>
        <form ng-submit="connectToRoom(roomID)">
            <label>Connect to Room ID</label>
            <input type="text" ng-model="roomID">
            <button>Connect</button>
        </form>
        <p class="error">{{err}}</p>
    </three-center>
</step>


<!-- Mobile Indication -->
<step>
    <arrows>
        <three-center>
            <button ng-click="toggleAction()">
                {{action}}
            </button>
            <a class="button" href="tel:+16787178064">
                Contact via Phone
            </a>
            <a class="button" href="mailto:sanghun89@gmail.com">
                Contact via Email
            </a>
        </three-center>
    </arrows>
</step>

<!-- loading -->
<loading ng-if="loading && !connected">
    Connecting To Room...
</loading>
