<!-- Room input -->
<step ng-if="!connected && !loading">
    <three-center>
        <form ng-submit="connectToRoom(roomID)">
            <label>Connect to Room ID</label>
            <input type="text" ng-model="roomID">
            <button>Connect</button>
        </form>
        <p class="error">{{err}}</p>
    </three-center>
</step>


<!-- Mobile Indication -->
<step ng-if="connected">
    <arrows>
        <three-center>
            <button>
                Pause/Start
            </button>
            <button>
                Contact via Phone
            </button>
            <button>
                Contact via Email
            </button>
        </three-center>
    </arrows>
</step>

<!-- loading -->
<loading ng-if="loading && !connected">
    Connecting To Room...
</loading>
