<header>
    <h1>Sam's Interactive Resume</h1>
</header>

<!-- Intro Step -->
<step ng-if="!keyboardStep && !mobileStep" class="fade-toggle">
    <h2>1. Choose Your Controller</h2>
    <p>In order to view my resume, you have to choose a controller to navigate through the content.
        <br>
        You can choose your keyboard or your phone, but the latter is a cooler alternative &#128512;</p>

    <a class="step-button" ng-click="goToKeyBoard()">
        <three-center>
            <i class="icon icon-keyboard"></i>
            <span class="label-icon">Keyboard</span>
        </three-center>
    </a>

    <a class="step-button" ng-click="goToMobile()">
        <three-center>
            <i class="icon icon-mobile"></i>
            <span class="label-icon">Phone</span>
        </three-center>
    </a>

    <a class="step-button" href="/pdf-resume" target="_blank">
        <three-center>
            <i class="icon icon-mail"></i>
            <span class="label-icon">View PDF</span>
        </three-center>
    </a>
</step>

<!-- Connect to Room-->
<step ng-if="mobileStep">
    <h2>2. Connect To Room</h2>
    <p>
    Go to https://sam-chun.com on your phone, and input the following room ID below on your phone.
        <br>
    You can also use the QR code below to automatically connect to this room.
    </p>
    <room-identifier></room-identifier>
</step>

<!-- Phone Step -->
<!--<step>-->
    <!--<h2>3. Phone Instructions</h2>-->
    <!--<p>Tilt to the direction labeled on your phone to move the ball on the screen accordingly.<br>Roll over to the red circles to boost the ball up to different sections.</p>-->

    <!--<a class="step-button">-->
        <!--<three-center>-->
            <!--<i class="icon icon-grin"></i>-->
            <!--<span class="label-icon">Start</span>-->
        <!--</three-center>-->
    <!--</a>-->
<!--</step>-->

